.header_component {
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .left_logo {
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      letter-spacing: 1px;
      color: #fff;
      &::first-letter {
        font-size: 1.4rem;
        color: gray;
      }
    }
  }

  .right_list {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      list-style: none;

      a {
        text-decoration: none;

        li {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
