.header_container{
    width: 100vw;
    height: 10vh;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left{
        flex: 0.4;
        display: flex;
        align-items: center;
        justify-content: center;
        color: aliceblue;
    }
    .right{
        flex: 0.6;
        display: flex;
        align-items: center;
        justify-content: center;

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            

            a{
                text-decoration: none;
                color: white;

                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                li{
                    letter-spacing: 1px;
                }
            }
        }
    }
}