.signup_container{
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: rgb(214, 255, 160);


    .signup_title{
        display: flex;
        align-items: center;
        justify-content: center;

        h4{
            font-size: 1.4rem;
            letter-spacing: 1px;

            &::after{
                content: '';
                height:3px;
                background-color: rgb(77, 77, 77);
                display: block;
                width: 100%;
                border-radius: 2px;
                margin-top: 5px;
            }
        }
    }

    .signUp_container{
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
        margin: 2rem auto;
        background-color: white;
        padding:  2rem;
        border-radius: 1rem;

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            justify-content: center;
            gap: 2rem;

            .form_group{
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;

                label{
                    font-size: 0.8rem;
                    color: gray;
                }

                input{
                    outline: none;
                    padding: 12px 2rem;
                    width: 90%;
                    border: transparent;
                    background-color: lightgreen;
                    border-radius: 4px;

                    &::placeholder{
                        font-size: 0.7rem;

                    }
                }
            }

            .form_submit{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                button{
                    width: 50%;
                    padding: 8px 2rem;
                    outline: none;
                    border: transparent;
                    background-color: tomato;
                    color: #000;
                    cursor: pointer;
                    font-weight: 550;
                    letter-spacing: 1px;
                    border-radius: 10px;
                    transition: all 0.4s ease-in-out;

                    &:hover{
                        background-color: royalblue;
                        color: #fff;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
        }
    }
}